<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.mall.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.recipe.mall.pojo.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_type" jdbcType="VARCHAR" property="categoryType" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="process" jdbcType="VARCHAR" property="process" />
    <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="analyse" jdbcType="VARCHAR" property="analyse" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
    <result column="favor" jdbcType="INTEGER" property="favor" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_type, category_id, name, subtitle, process, main_image, comment, detail,
    analyse, tips, favor, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.recipe.mall.pojo.Product">
    insert into mall_product (id, category_type, category_id,
      name, subtitle, process,
      main_image, comment, detail,
      analyse, tips, favor,
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{categoryType,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, #{process,jdbcType=VARCHAR},
      #{mainImage,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR},
      #{analyse,jdbcType=VARCHAR}, #{tips,jdbcType=VARCHAR}, #{favor,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.recipe.mall.pojo.Product">
    insert into mall_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryType != null">
        category_type,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="process != null">
        process,
      </if>
      <if test="mainImage != null">
        main_image,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="analyse != null">
        analyse,
      </if>
      <if test="tips != null">
        tips,
      </if>
      <if test="favor != null">
        favor,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryType != null">
        #{categoryType,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null">
        #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="analyse != null">
        #{analyse,jdbcType=VARCHAR},
      </if>
      <if test="tips != null">
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="favor != null">
        #{favor,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recipe.mall.pojo.Product">
    update mall_product
    <set>
      <if test="categoryType != null">
        category_type = #{categoryType,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null">
        main_image = #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="analyse != null">
        analyse = #{analyse,jdbcType=VARCHAR},
      </if>
      <if test="tips != null">
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="favor != null">
        favor = #{favor,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recipe.mall.pojo.Product">
    update mall_product
    set category_type = #{categoryType,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      process = #{process,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      analyse = #{analyse,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR},
      favor = #{favor,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCategoryIdSet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where status = 1 and main_image is not NULL
    <if test="categoryIdSet.size() > 0">
      and category_id in
      <foreach collection="categoryIdSet" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>
  <select id="selectByNameSet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where status = 1 and main_image is not NULL and name like "%"#{name,jdbcType=VARCHAR}"%"
  </select>
  <select id="productNum" resultType="java.lang.Integer">
    select
    count(*)
    from mall_product
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <select id="searchNum" resultType="java.lang.Integer">
    select
      count(*)
    from mall_product
    where status = 1 and main_image is not NULL and name like "%"#{name,jdbcType=VARCHAR}"%"
  </select>
</mapper>
